<ul>
  {{#each roomsFromDB}}
  <li> 
   <h3> <a href="room/{{this.id}}">{{this.name}}</a></h3>
   <img src="{{this.imageUrl}}" alt="room photo" width="300">

  

   </form>
     </li>
  {{/each}}
</ul>